.contact {
  display: block;
  padding: 3% 10%;
  z-index: 99999;
  width: 100%;
  color: black;
}

.contact .logo img {
  width: 200px;
}

.contact .text {
  padding: 10% 0% 5%;
}

.contact .contact_details ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  /* background-color: #1c8513; */
}

.contact .contact_details ul li i {
  color: #07999a;
  font-size: 20px;
  padding-right: 10px;
}

.contact .social-media_icon {
  margin-top: 50px;
  color: #fff;
}

.contact .social-media_icon a {
  background-color: #07999a;
  padding: 5px 8px;
  margin-right: 5px;

}



.text_pointer {
  cursor: not-allowed;
}

/* .contact-hide-menu {
  display: flex;
  align-items: center;
  justify-content: center;
} */