.clients {
  width: 100%;
  height: 100%;
  background-color: #EEF4ED;
  padding: 80px 0px 80px 0px;
}

#slider-boxes {
  display: flex !important;
}

.slick-slide>div {
  margin: 10px;
}

.client-image:hover {
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {

  0%,
  50%,
  100% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/* ------- media query -------*/

@media only screen and (max-width: 1024px) {

  .client-image img {
    margin-left: 30px !important;
  }
}

@media only screen and (max-width: 768px) {
  .client-image img {
    margin-left: 10px !important;
  }
}

@media only screen and (max-width: 480px) {

  .client-image {
    padding: 0px 0px;
  }

  .client-image img {
    width: 160px;
  }
}

@media only screen and (max-width: 412px) {

  .client-image img {
    width: 140px;
    margin-left: 0px !important;
  }
}